<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_yt0KkDjpEemSZunftq3MwQ" specification="interface:&#xA;var currInput: integer&#xA;var lastInput: integer&#xA;var foo: integer&#xA;var bar: integer&#xA;var baz: integer&#xA;&#xA;in event evFailHigh&#xA;in event evFailLow&#xA;&#xA;operation Init()&#xA;operation measureFailure()" name="FailSignal" documentation="- This model follows the logic states of both CLOCK_1S and CLOCK_3S digital signals.&#xD;&#xA;- While the relay validator works, the expected sequence of logic states is as follows: &quot;1,0,2,0,0,0&quot;. Each number is formed by CLOCK_1S | (CLOCK_3S &lt;&lt; 1)&#xD;&#xA;- The inputs of this model is provided by ClockSignal state machine on the falling edge of it.&#xD;&#xA;- The A/D converter is supposed to be in continuos mode.">
    <regions xmi:id="_yt2m0zjpEemSZunftq3MwQ" name="RegionA">
      <vertices xsi:type="sgraph:Entry" xmi:id="_yt7fUDjpEemSZunftq3MwQ">
        <outgoingTransitions xmi:id="_yt97kzjpEemSZunftq3MwQ" specification="/ Init()" target="_yt8GZzjpEemSZunftq3MwQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_yt8GZzjpEemSZunftq3MwQ" specification="" name="Idle" incomingTransitions="_yt97kzjpEemSZunftq3MwQ">
        <outgoingTransitions xmi:id="_cMxbADjzEem7yN3X15gGQw" specification="evFailLow" target="_bfalwDjzEem7yN3X15gGQw"/>
        <outgoingTransitions xmi:id="_jLEjsFZcEemoSZsNy-dO8w" specification="evFailHigh" target="_J3annVYvEemayrLVVwb3fA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_bfalwDjzEem7yN3X15gGQw" name="Success" incomingTransitions="_cMxbADjzEem7yN3X15gGQw _c7Uc4FZcEemoSZsNy-dO8w">
        <outgoingTransitions xmi:id="_Pe2xMFYvEemayrLVVwb3fA" specification="evFailHigh" target="_J3annVYvEemayrLVVwb3fA"/>
        <outgoingTransitions xmi:id="_OzgwUGLMEeqDt9wrKfjdgQ" specification="evFailLow" target="_ND9eQGLMEeqDt9wrKfjdgQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_J3annVYvEemayrLVVwb3fA" specification="entry / measureFailure()" name="Failure" incomingTransitions="_Pe2xMFYvEemayrLVVwb3fA _jLEjsFZcEemoSZsNy-dO8w _QPJn4GLMEeqDt9wrKfjdgQ">
        <outgoingTransitions xmi:id="_c7Uc4FZcEemoSZsNy-dO8w" specification="evFailLow" target="_bfalwDjzEem7yN3X15gGQw"/>
        <outgoingTransitions xmi:id="_0f06wGLDEeqVr8FdT1qQyQ" specification="evFailHigh" target="_zJ3NYGLDEeqVr8FdT1qQyQ"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_zJ3NYGLDEeqVr8FdT1qQyQ" incomingTransitions="_0f06wGLDEeqVr8FdT1qQyQ"/>
      <vertices xsi:type="sgraph:Choice" xmi:id="_ND9eQGLMEeqDt9wrKfjdgQ" incomingTransitions="_OzgwUGLMEeqDt9wrKfjdgQ">
        <outgoingTransitions xmi:id="_QPJn4GLMEeqDt9wrKfjdgQ" specification="else / baz = 1" target="_J3annVYvEemayrLVVwb3fA"/>
      </vertices>
    </regions>
    <regions xmi:id="_hMDAMGIDEeqGMqxDGDLS8Q" name="RegionB">
      <vertices xsi:type="sgraph:State" xmi:id="_6PmkQGIDEeqGMqxDGDLS8Q" specification="entry / foo = 32" name="StateA" incomingTransitions="_ElvRoGIEEeqGMqxDGDLS8Q">
        <outgoingTransitions xmi:id="_BM7iwGIEEeqGMqxDGDLS8Q" specification="evFailHigh / foo = 8" target="_9CaqIGIDEeqGMqxDGDLS8Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_9CaqIGIDEeqGMqxDGDLS8Q" name="StateB" incomingTransitions="_BM7iwGIEEeqGMqxDGDLS8Q _9aqiUGIUEeqOS7DRKuJGsQ">
        <outgoingTransitions xmi:id="_6jjyUGIUEeqOS7DRKuJGsQ" specification="evFailHigh" target="_5Xu4YGIUEeqOS7DRKuJGsQ"/>
        <outgoingTransitions xmi:id="_4EyPQGLDEeqVr8FdT1qQyQ" specification="evFailLow" target="_zgu1QGLDEeqVr8FdT1qQyQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_DfYtkGIEEeqGMqxDGDLS8Q">
        <outgoingTransitions xmi:id="_ElvRoGIEEeqGMqxDGDLS8Q" specification="/ bar = 0" target="_6PmkQGIDEeqGMqxDGDLS8Q"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_5Xu4YGIUEeqOS7DRKuJGsQ" incomingTransitions="_6jjyUGIUEeqOS7DRKuJGsQ">
        <outgoingTransitions xmi:id="_9aqiUGIUEeqOS7DRKuJGsQ" specification="else" target="_9CaqIGIDEeqGMqxDGDLS8Q"/>
        <outgoingTransitions xmi:id="_FgHOYGI0EeqvBJwHGV76yQ" specification="[foo == 0]" target="_k0JHcGIzEeqvBJwHGV76yQ"/>
        <outgoingTransitions xmi:id="_Y_W1UGI0EeqvBJwHGV76yQ" specification="[foo == 1]/foo = 16" target="_9ebP4GIzEeqvBJwHGV76yQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_k0JHcGIzEeqvBJwHGV76yQ" name="StateC" incomingTransitions="_FgHOYGI0EeqvBJwHGV76yQ">
        <regions xmi:id="_k0KVkGIzEeqvBJwHGV76yQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_pE4j4GIzEeqvBJwHGV76yQ" name="StateD" incomingTransitions="_sKCW8GIzEeqvBJwHGV76yQ _-S1IUGIzEeqvBJwHGV76yQ">
            <outgoingTransitions xmi:id="__R0dsGLDEeqVr8FdT1qQyQ" specification="evFailLow" target="_-rI4MGLDEeqVr8FdT1qQyQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_qTd24GIzEeqvBJwHGV76yQ">
            <outgoingTransitions xmi:id="_sKCW8GIzEeqvBJwHGV76yQ" specification="" target="_pE4j4GIzEeqvBJwHGV76yQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_9ebP4GIzEeqvBJwHGV76yQ" name="H1" incomingTransitions="_Y_W1UGI0EeqvBJwHGV76yQ" kind="SHALLOW_HISTORY">
            <outgoingTransitions xmi:id="_-S1IUGIzEeqvBJwHGV76yQ" specification="" target="_pE4j4GIzEeqvBJwHGV76yQ"/>
          </vertices>
          <vertices xsi:type="sgraph:FinalState" xmi:id="_-rI4MGLDEeqVr8FdT1qQyQ" incomingTransitions="__R0dsGLDEeqVr8FdT1qQyQ"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_zgu1QGLDEeqVr8FdT1qQyQ" incomingTransitions="_4EyPQGLDEeqVr8FdT1qQyQ"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_yt2m0DjpEemSZunftq3MwQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_yt0KkDjpEemSZunftq3MwQ" measurementUnit="Pixel">
    <children xmi:id="_yt308DjpEemSZunftq3MwQ" type="Region" element="_yt2m0zjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yt6RMDjpEemSZunftq3MwQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yt6RMTjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yt6RMjjpEemSZunftq3MwQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yt6RMzjpEemSZunftq3MwQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_yt7fUTjpEemSZunftq3MwQ" type="Entry" element="_yt7fUDjpEemSZunftq3MwQ">
          <children xmi:id="_yt8GYDjpEemSZunftq3MwQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_yt8GYzjpEemSZunftq3MwQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8GZDjpEemSZunftq3MwQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_yt8GZTjpEemSZunftq3MwQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8GYTjpEemSZunftq3MwQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt8GYjjpEemSZunftq3MwQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yt7fUjjpEemSZunftq3MwQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_yt7fUzjpEemSZunftq3MwQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt8GZjjpEemSZunftq3MwQ" x="60" y="39" width="15" height="15"/>
        </children>
        <children xmi:id="_yt8tcjjpEemSZunftq3MwQ" type="State" element="_yt8GZzjpEemSZunftq3MwQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_yt8tdjjpEemSZunftq3MwQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8tdzjpEemSZunftq3MwQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_yt9UgDjpEemSZunftq3MwQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yt9UgTjpEemSZunftq3MwQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_yt9UgjjpEemSZunftq3MwQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt9UgzjpEemSZunftq3MwQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yt97kDjpEemSZunftq3MwQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8tczjpEemSZunftq3MwQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_yt8tdDjpEemSZunftq3MwQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yt97kTjpEemSZunftq3MwQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt97kjjpEemSZunftq3MwQ" x="22" y="78" width="102" height="55"/>
        </children>
        <children xmi:id="_bgEtEDjzEem7yN3X15gGQw" type="State" element="_bfalwDjzEem7yN3X15gGQw">
          <children xsi:type="notation:DecorationNode" xmi:id="_bgGiQDjzEem7yN3X15gGQw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_bgGiQTjzEem7yN3X15gGQw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_bgHJUDjzEem7yN3X15gGQw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bgHwYDjzEem7yN3X15gGQw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_bgHwYTjzEem7yN3X15gGQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bgHwYjjzEem7yN3X15gGQw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bgIXcDjzEem7yN3X15gGQw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_bgEtETjzEem7yN3X15gGQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_bgEtEjjzEem7yN3X15gGQw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bgIXcTjzEem7yN3X15gGQw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bgEtEzjzEem7yN3X15gGQw" x="19" y="230" width="102" height="55"/>
        </children>
        <children xmi:id="_J3ankVYvEemayrLVVwb3fA" type="State" element="_J3annVYvEemayrLVVwb3fA">
          <children xsi:type="notation:DecorationNode" xmi:id="_J3anklYvEemayrLVVwb3fA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_J3ank1YvEemayrLVVwb3fA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_J3anlFYvEemayrLVVwb3fA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J3anlVYvEemayrLVVwb3fA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_J3anllYvEemayrLVVwb3fA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J3anl1YvEemayrLVVwb3fA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J3anmFYvEemayrLVVwb3fA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_J3anmVYvEemayrLVVwb3fA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_J3anmlYvEemayrLVVwb3fA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_J3anm1YvEemayrLVVwb3fA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J3annFYvEemayrLVVwb3fA" x="210" y="230" width="184" height="55"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_zKk_EGLDEeqVr8FdT1qQyQ" type="FinalState" element="_zJ3NYGLDEeqVr8FdT1qQyQ" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zKk_EWLDEeqVr8FdT1qQyQ" x="281" y="155"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_NEitEGLMEeqDt9wrKfjdgQ" type="Choice" element="_ND9eQGLMEeqDt9wrKfjdgQ" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEitEWLMEeqDt9wrKfjdgQ" x="155" y="319"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt6RNDjpEemSZunftq3MwQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_yt308TjpEemSZunftq3MwQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt64QDjpEemSZunftq3MwQ" x="24" y="8" width="426" height="396"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_yuA-4DjpEemSZunftq3MwQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_yuA-4jjpEemSZunftq3MwQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yuA-4zjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yuA-5DjpEemSZunftq3MwQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yuBl8DjpEemSZunftq3MwQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yuBl8TjpEemSZunftq3MwQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yuBl8jjpEemSZunftq3MwQ" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_hMeeAGIDEeqGMqxDGDLS8Q" type="Region" element="_hMDAMGIDEeqGMqxDGDLS8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_hMivcGIDEeqGMqxDGDLS8Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hMivcWIDEeqGMqxDGDLS8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hMjWgGIDEeqGMqxDGDLS8Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_hMj9kGIDEeqGMqxDGDLS8Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_6PnyYGIDEeqGMqxDGDLS8Q" type="State" element="_6PmkQGIDEeqGMqxDGDLS8Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_6PoZcGIDEeqGMqxDGDLS8Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6PoZcWIDEeqGMqxDGDLS8Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6PoZcmIDEeqGMqxDGDLS8Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6PoZc2IDEeqGMqxDGDLS8Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_6PpAgGIDEeqGMqxDGDLS8Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6PpAgWIDEeqGMqxDGDLS8Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6PpnkGIDEeqGMqxDGDLS8Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6PnyYWIDEeqGMqxDGDLS8Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6PnyYmIDEeqGMqxDGDLS8Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6PpnkWIDEeqGMqxDGDLS8Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6PnyY2IDEeqGMqxDGDLS8Q" x="34" y="74" width="133" height="53"/>
        </children>
        <children xmi:id="_9CbRMGIDEeqGMqxDGDLS8Q" type="State" element="_9CaqIGIDEeqGMqxDGDLS8Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_9Cb4QGIDEeqGMqxDGDLS8Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9Cb4QWIDEeqGMqxDGDLS8Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9Cb4QmIDEeqGMqxDGDLS8Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9Cb4Q2IDEeqGMqxDGDLS8Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9Cb4RGIDEeqGMqxDGDLS8Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9Cb4RWIDEeqGMqxDGDLS8Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9CcfUGIDEeqGMqxDGDLS8Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9CbRMWIDEeqGMqxDGDLS8Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9CbRMmIDEeqGMqxDGDLS8Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9CcfUWIDEeqGMqxDGDLS8Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9CbRM2IDEeqGMqxDGDLS8Q" x="34" y="179" width="81" height="55"/>
        </children>
        <children xmi:id="_DfZ7sGIEEeqGMqxDGDLS8Q" type="Entry" element="_DfYtkGIEEeqGMqxDGDLS8Q">
          <children xmi:id="_DfaiwGIEEeqGMqxDGDLS8Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_DfbJ0GIEEeqGMqxDGDLS8Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_DfbJ0WIEEeqGMqxDGDLS8Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_DfbJ0mIEEeqGMqxDGDLS8Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_DfaiwWIEEeqGMqxDGDLS8Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DfaiwmIEEeqGMqxDGDLS8Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_DfZ7sWIEEeqGMqxDGDLS8Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_DfZ7smIEEeqGMqxDGDLS8Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DfZ7s2IEEeqGMqxDGDLS8Q" x="64" y="34" width="15" height="15"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_5YTgIGIUEeqOS7DRKuJGsQ" type="Choice" element="_5Xu4YGIUEeqOS7DRKuJGsQ" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5YTgIWIUEeqOS7DRKuJGsQ" x="109" y="279" width="15" height="15"/>
        </children>
        <children xmi:id="_k0K8oGIzEeqvBJwHGV76yQ" type="State" element="_k0JHcGIzEeqvBJwHGV76yQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_k0LjsGIzEeqvBJwHGV76yQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_k0LjsWIzEeqvBJwHGV76yQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_k0LjsmIzEeqvBJwHGV76yQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_k0MKwGIzEeqvBJwHGV76yQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_k0MKwWIzEeqvBJwHGV76yQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k0MKwmIzEeqvBJwHGV76yQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_k0Mx0GIzEeqvBJwHGV76yQ" type="StateFigureCompartment">
            <children xmi:id="_k0UGkGIzEeqvBJwHGV76yQ" type="Region" element="_k0KVkGIzEeqvBJwHGV76yQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_k0UtoGIzEeqvBJwHGV76yQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_k0UtoWIzEeqvBJwHGV76yQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_k0UtomIzEeqvBJwHGV76yQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_k0Uto2IzEeqvBJwHGV76yQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_pE5yAGIzEeqvBJwHGV76yQ" type="State" element="_pE4j4GIzEeqvBJwHGV76yQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_pE6ZEGIzEeqvBJwHGV76yQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_pE6ZEWIzEeqvBJwHGV76yQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_pE6ZEmIzEeqvBJwHGV76yQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_pE6ZE2IzEeqvBJwHGV76yQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_pE6ZFGIzEeqvBJwHGV76yQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pE6ZFWIzEeqvBJwHGV76yQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_pE6ZFmIzEeqvBJwHGV76yQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_pE5yAWIzEeqvBJwHGV76yQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_pE5yAmIzEeqvBJwHGV76yQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pE7AIGIzEeqvBJwHGV76yQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pE5yA2IzEeqvBJwHGV76yQ" x="8" y="18"/>
                </children>
                <children xmi:id="_qTfFAGIzEeqvBJwHGV76yQ" type="Entry" element="_qTd24GIzEeqvBJwHGV76yQ">
                  <children xmi:id="_qTfsEGIzEeqvBJwHGV76yQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_qTfsE2IzEeqvBJwHGV76yQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_qTfsFGIzEeqvBJwHGV76yQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_qTgTIGIzEeqvBJwHGV76yQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qTfsEWIzEeqvBJwHGV76yQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qTfsEmIzEeqvBJwHGV76yQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qTfFAWIzEeqvBJwHGV76yQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_qTfFAmIzEeqvBJwHGV76yQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qTfFA2IzEeqvBJwHGV76yQ" x="33" y="-22"/>
                </children>
                <children xmi:id="_9eceAGIzEeqvBJwHGV76yQ" type="ShallowHistory" element="_9ebP4GIzEeqvBJwHGV76yQ">
                  <children xmi:id="_9edFEGIzEeqvBJwHGV76yQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_9edsIGIzEeqvBJwHGV76yQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_9edsIWIzEeqvBJwHGV76yQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_9edsImIzEeqvBJwHGV76yQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_9edFEWIzEeqvBJwHGV76yQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9edFEmIzEeqvBJwHGV76yQ" x="19"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_9eceAWIzEeqvBJwHGV76yQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_9eceAmIzEeqvBJwHGV76yQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9eceA2IzEeqvBJwHGV76yQ" x="98" y="34"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_-rMikGLDEeqVr8FdT1qQyQ" type="FinalState" element="_-rI4MGLDEeqVr8FdT1qQyQ" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-rMikWLDEeqVr8FdT1qQyQ" x="143" y="71"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k0UtpGIzEeqvBJwHGV76yQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_k0UGkWIzEeqvBJwHGV76yQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k0UGkmIzEeqvBJwHGV76yQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_k0K8oWIzEeqvBJwHGV76yQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_k0K8omIzEeqvBJwHGV76yQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_k0Mx0WIzEeqvBJwHGV76yQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k0K8o2IzEeqvBJwHGV76yQ" x="4" y="324" width="217" height="200"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_zgwDYGLDEeqVr8FdT1qQyQ" type="FinalState" element="_zgu1QGLDEeqVr8FdT1qQyQ" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zgwDYWLDEeqVr8FdT1qQyQ" x="179" y="196" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hMj9kWIDEeqGMqxDGDLS8Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_hMeeAWIDEeqGMqxDGDLS8Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hMeeAmIDEeqGMqxDGDLS8Q" x="468" y="8" width="248" height="580"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yt2m0TjpEemSZunftq3MwQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_yt2m0jjpEemSZunftq3MwQ"/>
    <edges xmi:id="_yt_wwDjpEemSZunftq3MwQ" type="Transition" element="_yt97kzjpEemSZunftq3MwQ" source="_yt7fUTjpEemSZunftq3MwQ" target="_yt8tcjjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yuAX0DjpEemSZunftq3MwQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yuAX0TjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yuAX0jjpEemSZunftq3MwQ" x="-4" y="-45"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yt_wwTjpEemSZunftq3MwQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yt_wwzjpEemSZunftq3MwQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yt_wwjjpEemSZunftq3MwQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zm-EUFYuEemayrLVVwb3fA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eqvgADj4Eem7yN3X15gGQw" id="(0.49019607843137253,0.01818181818181818)"/>
    </edges>
    <edges xmi:id="_cM1scDjzEem7yN3X15gGQw" type="Transition" element="_cMxbADjzEem7yN3X15gGQw" source="_yt8tcjjpEemSZunftq3MwQ" target="_bgEtEDjzEem7yN3X15gGQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_cM4vwTjzEem7yN3X15gGQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cM4vwjjzEem7yN3X15gGQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cM4vwzjzEem7yN3X15gGQw" x="-17" y="-43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cM1scTjzEem7yN3X15gGQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cM4vwDjzEem7yN3X15gGQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cM1scjjzEem7yN3X15gGQw" points="[-41, 28, -24, -124]$[-41, 130, -24, -22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cM7zEDjzEem7yN3X15gGQw" id="(0.9215686274509803,0.45454545454545453)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aK_pIDj2Eem7yN3X15gGQw" id="(0.7745098039215687,0.45454545454545453)"/>
    </edges>
    <edges xmi:id="_Pe2xMVYvEemayrLVVwb3fA" type="Transition" element="_Pe2xMFYvEemayrLVVwb3fA" source="_bgEtEDjzEem7yN3X15gGQw" target="_J3ankVYvEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Pe2xNVYvEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Pe2xNlYvEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Pe2xN1YvEemayrLVVwb3fA" x="2" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Pe2xMlYvEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Pe2xNFYvEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Pe2xM1YvEemayrLVVwb3fA" points="[15, -3, -224, -11]$[109, -3, -130, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PfAiMFYvEemayrLVVwb3fA" id="(0.8529411764705882,0.34545454545454546)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Wrru0FYwEemayrLVVwb3fA" id="(0.729050279329609,0.5)"/>
    </edges>
    <edges xmi:id="_c7Uc4VZcEemoSZsNy-dO8w" type="Transition" element="_c7Uc4FZcEemoSZsNy-dO8w" source="_J3ankVYvEemayrLVVwb3fA" target="_bgEtEDjzEem7yN3X15gGQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_c7Uc5VZcEemoSZsNy-dO8w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c7Uc5lZcEemoSZsNy-dO8w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c7Uc51ZcEemoSZsNy-dO8w" x="-3" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_c7Uc4lZcEemoSZsNy-dO8w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_c7Uc5FZcEemoSZsNy-dO8w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_c7Uc41ZcEemoSZsNy-dO8w" points="[-130, 13, 112, -7]$[-224, 13, 18, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7DRu8FZcEemoSZsNy-dO8w" id="(0.729050279329609,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_c7Uc6VZcEemoSZsNy-dO8w" id="(0.8235294117647058,0.9090909090909091)"/>
    </edges>
    <edges xmi:id="_jLEjsVZcEemoSZsNy-dO8w" type="Transition" element="_jLEjsFZcEemoSZsNy-dO8w" source="_yt8tcjjpEemSZunftq3MwQ" target="_J3ankVYvEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_jLEjtVZcEemoSZsNy-dO8w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jLEjtlZcEemoSZsNy-dO8w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jLEjt1ZcEemoSZsNy-dO8w" x="-104" y="-22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jLEjslZcEemoSZsNy-dO8w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jLEjtFZcEemoSZsNy-dO8w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jLEjs1ZcEemoSZsNy-dO8w" points="[0, -6, -320, -129]$[283, -6, -37, -129]$[283, 122, -37, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jLNtoFZcEemoSZsNy-dO8w" id="(1.0,0.6181818181818182)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jLNtoVZcEemoSZsNy-dO8w" id="(0.7396757585715851,0.03636363636363636)"/>
    </edges>
    <edges xmi:id="_BM9X8GIEEeqGMqxDGDLS8Q" type="Transition" element="_BM7iwGIEEeqGMqxDGDLS8Q" source="_6PnyYGIDEeqGMqxDGDLS8Q" target="_9CbRMGIDEeqGMqxDGDLS8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_BM-mEWIEEeqGMqxDGDLS8Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BM-mEmIEEeqGMqxDGDLS8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BM_NIGIEEeqGMqxDGDLS8Q" x="1" y="-67"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BM9X8WIEEeqGMqxDGDLS8Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BM-mEGIEEeqGMqxDGDLS8Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BM9X8mIEEeqGMqxDGDLS8Q" points="[6, 0, 0, -82]$[6, 57, 0, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BNBpYGIEEeqGMqxDGDLS8Q" id="(0.2537193182131682,0.9516215013591448)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GVoh8GIEEeqGMqxDGDLS8Q" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_Elv4sGIEEeqGMqxDGDLS8Q" type="Transition" element="_ElvRoGIEEeqGMqxDGDLS8Q" source="_DfZ7sGIEEeqGMqxDGDLS8Q" target="_6PnyYGIDEeqGMqxDGDLS8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_ElwfwWIEEeqGMqxDGDLS8Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ElwfwmIEEeqGMqxDGDLS8Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Elwfw2IEEeqGMqxDGDLS8Q" x="-5" y="-38"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Elv4sWIEEeqGMqxDGDLS8Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ElwfwGIEEeqGMqxDGDLS8Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Elv4smIEEeqGMqxDGDLS8Q" points="[0, -1, 1, -37]$[0, 25, 1, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ElyU8GIEEeqGMqxDGDLS8Q" id="(0.4666666666666667,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ElyU8WIEEeqGMqxDGDLS8Q" id="(0.2827158117232445,0.2334165946729978)"/>
    </edges>
    <edges xmi:id="_6jmOkGIUEeqOS7DRKuJGsQ" type="Transition" element="_6jjyUGIUEeqOS7DRKuJGsQ" source="_9CbRMGIDEeqGMqxDGDLS8Q" target="_5YTgIGIUEeqOS7DRKuJGsQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_6jncsGIUEeqOS7DRKuJGsQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6jncsWIUEeqOS7DRKuJGsQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6joDwGIUEeqOS7DRKuJGsQ" x="9" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6jmOkWIUEeqOS7DRKuJGsQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6jm1oGIUEeqOS7DRKuJGsQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6jmOkmIUEeqOS7DRKuJGsQ" points="[-19, 0, -57, -52]$[-19, 57, -57, 5]$[31, 57, -7, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6jqgAGIUEeqOS7DRKuJGsQ" id="(0.5802469135802469,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7lBPUGIUEeqOS7DRKuJGsQ" id="(0.4666666666666667,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_9arwcGIUEeqOS7DRKuJGsQ" type="Transition" element="_9aqiUGIUEeqOS7DRKuJGsQ" source="_5YTgIGIUEeqOS7DRKuJGsQ" target="_9CbRMGIDEeqGMqxDGDLS8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_9arwdGIUEeqOS7DRKuJGsQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9arwdWIUEeqOS7DRKuJGsQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9asXgGIUEeqOS7DRKuJGsQ" x="-16" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9arwcWIUEeqOS7DRKuJGsQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9arwc2IUEeqOS7DRKuJGsQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9arwcmIUEeqOS7DRKuJGsQ" points="[-8, -1, 24, 72]$[-8, -19, 24, 54]$[-40, -19, -8, 54]$[-40, -50, -8, 23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9auMsGIUEeqOS7DRKuJGsQ" id="(1.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9auMsWIUEeqOS7DRKuJGsQ" id="(0.7654320987654321,0.5454545454545454)"/>
    </edges>
    <edges xmi:id="_sKDlEGIzEeqvBJwHGV76yQ" type="Transition" element="_sKCW8GIzEeqvBJwHGV76yQ" source="_qTfFAGIzEeqvBJwHGV76yQ" target="_pE5yAGIzEeqvBJwHGV76yQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_sKEMIWIzEeqvBJwHGV76yQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sKEMImIzEeqvBJwHGV76yQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sKEMI2IzEeqvBJwHGV76yQ" x="-1" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sKDlEWIzEeqvBJwHGV76yQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sKEMIGIzEeqvBJwHGV76yQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sKDlEmIzEeqvBJwHGV76yQ" points="[7, 9, 5, -37]$[7, 35, 5, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sKHPcGIzEeqvBJwHGV76yQ" id="(0.0,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sKHPcWIzEeqvBJwHGV76yQ" id="(0.4666666666666667,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_-S2WcGIzEeqvBJwHGV76yQ" type="Transition" element="_-S1IUGIzEeqvBJwHGV76yQ" source="_9eceAGIzEeqvBJwHGV76yQ" target="_pE5yAGIzEeqvBJwHGV76yQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-S3kkGIzEeqvBJwHGV76yQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-S3kkWIzEeqvBJwHGV76yQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-S3kkmIzEeqvBJwHGV76yQ" x="-16" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-S2WcWIzEeqvBJwHGV76yQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-S29gGIzEeqvBJwHGV76yQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-S2WcmIzEeqvBJwHGV76yQ" points="[-15, 7, 51, -17]$[-47, 7, 19, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-S6A0GIzEeqvBJwHGV76yQ" id="(1.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-S6A0WIzEeqvBJwHGV76yQ" id="(0.6825396825396826,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_FgIcgGI0EeqvBJwHGV76yQ" type="Transition" element="_FgHOYGI0EeqvBJwHGV76yQ" source="_5YTgIGIUEeqOS7DRKuJGsQ" target="_k0K8oGIzEeqvBJwHGV76yQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_FgIchGI0EeqvBJwHGV76yQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FgIchWI0EeqvBJwHGV76yQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FgJDkGI0EeqvBJwHGV76yQ" x="-2" y="-40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FgIcgWI0EeqvBJwHGV76yQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FgIcg2I0EeqvBJwHGV76yQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FgIcgmI0EeqvBJwHGV76yQ" points="[7, -1, 0, -53]$[10, 30, 3, -22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FgLf0GI0EeqvBJwHGV76yQ" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FgLf0WI0EeqvBJwHGV76yQ" id="(0.5299539170506913,0.12041884816753927)"/>
    </edges>
    <edges xmi:id="_Y_XcYGI0EeqvBJwHGV76yQ" type="Transition" element="_Y_W1UGI0EeqvBJwHGV76yQ" source="_5YTgIGIUEeqOS7DRKuJGsQ" target="_9eceAGIzEeqvBJwHGV76yQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y_YDcWI0EeqvBJwHGV76yQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y_YDcmI0EeqvBJwHGV76yQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y_YDc2I0EeqvBJwHGV76yQ" x="-88" y="6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y_XcYWI0EeqvBJwHGV76yQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y_YDcGI0EeqvBJwHGV76yQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y_XcYmI0EeqvBJwHGV76yQ" points="[14, -8, -3, -168]$[90, -8, 73, -168]$[90, 122, 73, -38]$[17, 122, 0, -38]$[17, 153, 0, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y_Z4oGI0EeqvBJwHGV76yQ" id="(0.0,1.0)"/>
    </edges>
    <edges xmi:id="_0f3-EGLDEeqVr8FdT1qQyQ" type="Transition" element="_0f06wGLDEeqVr8FdT1qQyQ" source="_J3ankVYvEemayrLVVwb3fA" target="_zKk_EGLDEeqVr8FdT1qQyQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_0f5MMGLDEeqVr8FdT1qQyQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0f5MMWLDEeqVr8FdT1qQyQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0f5zQGLDEeqVr8FdT1qQyQ" x="7" y="-36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0f3-EWLDEeqVr8FdT1qQyQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0f4lIGLDEeqVr8FdT1qQyQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0f3-EmLDEeqVr8FdT1qQyQ" points="[32, 0, -3, 68]$[32, -62, -3, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0f9doGLDEeqVr8FdT1qQyQ" id="(0.24456521739130435,0.0)"/>
    </edges>
    <edges xmi:id="_4E0EcGLDEeqVr8FdT1qQyQ" type="Transition" element="_4EyPQGLDEeqVr8FdT1qQyQ" source="_9CbRMGIDEeqGMqxDGDLS8Q" target="_zgwDYGLDEeqVr8FdT1qQyQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_4E0EdGLDEeqVr8FdT1qQyQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4E0EdWLDEeqVr8FdT1qQyQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4E0EdmLDEeqVr8FdT1qQyQ" x="9" y="8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4E0EcWLDEeqVr8FdT1qQyQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4E0Ec2LDEeqVr8FdT1qQyQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4E0EcmLDEeqVr8FdT1qQyQ" points="[23, -24, -76, 2]$[92, -24, -7, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4E2gsGLDEeqVr8FdT1qQyQ" id="(0.7037037037037037,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4Xo50GLDEeqVr8FdT1qQyQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="__R1r0GLDEeqVr8FdT1qQyQ" type="Transition" element="__R0dsGLDEeqVr8FdT1qQyQ" source="_pE5yAGIzEeqvBJwHGV76yQ" target="_-rMikGLDEeqVr8FdT1qQyQ">
      <children xsi:type="notation:DecorationNode" xmi:id="__R2S4WLDEeqVr8FdT1qQyQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__R2S4mLDEeqVr8FdT1qQyQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__R2S42LDEeqVr8FdT1qQyQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__R1r0WLDEeqVr8FdT1qQyQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__R2S4GLDEeqVr8FdT1qQyQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__R1r0mLDEeqVr8FdT1qQyQ" points="[58, 3, -81, 1]$[139, 8, 0, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__R5WMGLDEeqVr8FdT1qQyQ" id="(0.0,0.5660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__26u0GLDEeqVr8FdT1qQyQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_OzlBwGLMEeqDt9wrKfjdgQ" type="Transition" element="_OzgwUGLMEeqDt9wrKfjdgQ" source="_bgEtEDjzEem7yN3X15gGQw" target="_NEitEGLMEeqDt9wrKfjdgQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_OzmP4GLMEeqDt9wrKfjdgQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OzmP4WLMEeqDt9wrKfjdgQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OzmP4mLMEeqDt9wrKfjdgQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_OzlBwWLMEeqDt9wrKfjdgQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ozlo0GLMEeqDt9wrKfjdgQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_OzlBwmLMEeqDt9wrKfjdgQ" points="[0, 0, -99, -46]$[0, 46, -99, 0]$[92, 46, -7, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OzqhUGLMEeqDt9wrKfjdgQ" id="(0.46078431372549017,1.0)"/>
    </edges>
    <edges xmi:id="_QPK2AGLMEeqDt9wrKfjdgQ" type="Transition" element="_QPJn4GLMEeqDt9wrKfjdgQ" source="_NEitEGLMEeqDt9wrKfjdgQ" target="_J3ankVYvEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_QPLdEWLMEeqDt9wrKfjdgQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QPLdEmLMEeqDt9wrKfjdgQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QPLdE2LMEeqDt9wrKfjdgQ" x="-2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QPK2AWLMEeqDt9wrKfjdgQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QPLdEGLMEeqDt9wrKfjdgQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QPK2AmLMEeqDt9wrKfjdgQ" points="[-1, -8, -146, 52]$[129, -8, -16, 52]$[129, -54, -16, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QPOgYGLMEeqDt9wrKfjdgQ" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QPOgYWLMEeqDt9wrKfjdgQ" id="(0.5869565217391305,0.8909090909090909)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
