<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_yt0KkDjpEemSZunftq3MwQ" specification="interface:&#xA;&#xA;in event evIn0&#xA;in event evIn1&#xA;in event evIn2&#xA;&#xA;operation Init()&#xA;operation GetVIMeasures()&#xA;operation CalcVIAverages()" name="SeqDigSignal" documentation="- This model follows the logic states of both CLOCK_1S and CLOCK_3S digital signals.&#xD;&#xA;- While the relay validator works, the expected sequence of logic states is as follows: &quot;1,0,2,0,0,0&quot;. Each number is formed by CLOCK_1S | (CLOCK_3S &lt;&lt; 1)&#xD;&#xA;- The inputs of this model is provided by ClockSignal state machine on the falling edge of it.&#xD;&#xA;- The A/D converter is supposed to be in continuos mode.">
    <regions xmi:id="_yt2m0zjpEemSZunftq3MwQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_yt7fUDjpEemSZunftq3MwQ">
        <outgoingTransitions xmi:id="_yt97kzjpEemSZunftq3MwQ" specification="/ Init()" target="_yt8GZzjpEemSZunftq3MwQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_yt8GZzjpEemSZunftq3MwQ" specification="" name="Idle" incomingTransitions="_yt97kzjpEemSZunftq3MwQ _sldegFYwEemayrLVVwb3fA _Vxm2wFYxEemayrLVVwb3fA">
        <outgoingTransitions xmi:id="_cMxbADjzEem7yN3X15gGQw" specification="evIn1 /&#xD;&#xA;GetVIMeasures()" target="_bfalwDjzEem7yN3X15gGQw"/>
        <outgoingTransitions xmi:id="_vPwhkFYwEemayrLVVwb3fA" specification="evIn2" target="_yx0IgFYvEemayrLVVwb3fA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_bfalwDjzEem7yN3X15gGQw" name="Seq0" incomingTransitions="_cMxbADjzEem7yN3X15gGQw">
        <outgoingTransitions xmi:id="_Pe2xMFYvEemayrLVVwb3fA" specification="evIn0 /&#xD;&#xA;GetVIMeasures(); &#xD;&#xA;CalcVIAverages()" target="_J3annVYvEemayrLVVwb3fA"/>
        <outgoingTransitions xmi:id="_KmJq8FYxEemayrLVVwb3fA" specification="evIn1, evIn2" target="_JDvdAFYxEemayrLVVwb3fA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_J3annVYvEemayrLVVwb3fA" name="Seq1" incomingTransitions="_Pe2xMFYvEemayrLVVwb3fA">
        <outgoingTransitions xmi:id="_i54KAFYwEemayrLVVwb3fA" specification="evIn2" target="_yx0IgFYvEemayrLVVwb3fA"/>
        <outgoingTransitions xmi:id="_M_WW8FYxEemayrLVVwb3fA" specification="evIn0, evIn1" target="_JDvdAFYxEemayrLVVwb3fA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_yx0IgFYvEemayrLVVwb3fA" name="Seq2" incomingTransitions="_i54KAFYwEemayrLVVwb3fA _vPwhkFYwEemayrLVVwb3fA">
        <outgoingTransitions xmi:id="_kzkPgFYwEemayrLVVwb3fA" specification="evIn0" target="_2FjxMFYvEemayrLVVwb3fA"/>
        <outgoingTransitions xmi:id="_NUaA8FYxEemayrLVVwb3fA" specification="evIn1, evIn2" target="_JDvdAFYxEemayrLVVwb3fA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2FjxMFYvEemayrLVVwb3fA" name="Seq3" incomingTransitions="_kzkPgFYwEemayrLVVwb3fA">
        <outgoingTransitions xmi:id="_kYjHcFYwEemayrLVVwb3fA" specification="evIn0" target="_34ixwFYvEemayrLVVwb3fA"/>
        <outgoingTransitions xmi:id="_NqWbwFYxEemayrLVVwb3fA" specification="evIn1, evIn2" target="_JDvdAFYxEemayrLVVwb3fA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_34ixwFYvEemayrLVVwb3fA" name="Seq4" incomingTransitions="_kYjHcFYwEemayrLVVwb3fA">
        <outgoingTransitions xmi:id="_rE2AUFYwEemayrLVVwb3fA" specification="evIn0" target="_5orSoFYvEemayrLVVwb3fA"/>
        <outgoingTransitions xmi:id="_N9xHAFYxEemayrLVVwb3fA" specification="evIn1, evIn2" target="_JDvdAFYxEemayrLVVwb3fA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5orSoFYvEemayrLVVwb3fA" name="Seq5" incomingTransitions="_rE2AUFYwEemayrLVVwb3fA">
        <outgoingTransitions xmi:id="_sldegFYwEemayrLVVwb3fA" specification="evIn1" target="_yt8GZzjpEemSZunftq3MwQ"/>
        <outgoingTransitions xmi:id="_ORy2QFYxEemayrLVVwb3fA" specification="evIn0, evIn2" target="_JDvdAFYxEemayrLVVwb3fA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_JDvdAFYxEemayrLVVwb3fA" name="Failure" incomingTransitions="_KmJq8FYxEemayrLVVwb3fA _M_WW8FYxEemayrLVVwb3fA _NUaA8FYxEemayrLVVwb3fA _NqWbwFYxEemayrLVVwb3fA _N9xHAFYxEemayrLVVwb3fA _ORy2QFYxEemayrLVVwb3fA">
        <outgoingTransitions xmi:id="_Vxm2wFYxEemayrLVVwb3fA" specification="always" target="_yt8GZzjpEemSZunftq3MwQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_yt2m0DjpEemSZunftq3MwQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_yt0KkDjpEemSZunftq3MwQ" measurementUnit="Pixel">
    <children xmi:id="_yt308DjpEemSZunftq3MwQ" type="Region" element="_yt2m0zjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yt6RMDjpEemSZunftq3MwQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yt6RMTjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yt6RMjjpEemSZunftq3MwQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yt6RMzjpEemSZunftq3MwQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_yt7fUTjpEemSZunftq3MwQ" type="Entry" element="_yt7fUDjpEemSZunftq3MwQ">
          <children xmi:id="_yt8GYDjpEemSZunftq3MwQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_yt8GYzjpEemSZunftq3MwQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8GZDjpEemSZunftq3MwQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_yt8GZTjpEemSZunftq3MwQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8GYTjpEemSZunftq3MwQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt8GYjjpEemSZunftq3MwQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yt7fUjjpEemSZunftq3MwQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_yt7fUzjpEemSZunftq3MwQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt8GZjjpEemSZunftq3MwQ" x="60" y="39" width="15" height="15"/>
        </children>
        <children xmi:id="_yt8tcjjpEemSZunftq3MwQ" type="State" element="_yt8GZzjpEemSZunftq3MwQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_yt8tdjjpEemSZunftq3MwQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8tdzjpEemSZunftq3MwQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_yt9UgDjpEemSZunftq3MwQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yt9UgTjpEemSZunftq3MwQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_yt9UgjjpEemSZunftq3MwQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt9UgzjpEemSZunftq3MwQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yt97kDjpEemSZunftq3MwQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8tczjpEemSZunftq3MwQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_yt8tdDjpEemSZunftq3MwQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yt97kTjpEemSZunftq3MwQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt97kjjpEemSZunftq3MwQ" x="22" y="78" width="102" height="55"/>
        </children>
        <children xmi:id="_bgEtEDjzEem7yN3X15gGQw" type="State" element="_bfalwDjzEem7yN3X15gGQw">
          <children xsi:type="notation:DecorationNode" xmi:id="_bgGiQDjzEem7yN3X15gGQw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_bgGiQTjzEem7yN3X15gGQw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_bgHJUDjzEem7yN3X15gGQw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bgHwYDjzEem7yN3X15gGQw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_bgHwYTjzEem7yN3X15gGQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bgHwYjjzEem7yN3X15gGQw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bgIXcDjzEem7yN3X15gGQw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_bgEtETjzEem7yN3X15gGQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_bgEtEjjzEem7yN3X15gGQw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bgIXcTjzEem7yN3X15gGQw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bgEtEzjzEem7yN3X15gGQw" x="230" y="22" width="102" height="55"/>
        </children>
        <children xmi:id="_J3ankVYvEemayrLVVwb3fA" type="State" element="_J3annVYvEemayrLVVwb3fA">
          <children xsi:type="notation:DecorationNode" xmi:id="_J3anklYvEemayrLVVwb3fA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_J3ank1YvEemayrLVVwb3fA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_J3anlFYvEemayrLVVwb3fA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J3anlVYvEemayrLVVwb3fA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_J3anllYvEemayrLVVwb3fA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J3anl1YvEemayrLVVwb3fA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J3anmFYvEemayrLVVwb3fA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_J3anmVYvEemayrLVVwb3fA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_J3anmlYvEemayrLVVwb3fA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_J3anm1YvEemayrLVVwb3fA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J3annFYvEemayrLVVwb3fA" x="230" y="116" width="102" height="55"/>
        </children>
        <children xmi:id="_yx95gFYvEemayrLVVwb3fA" type="State" element="_yx0IgFYvEemayrLVVwb3fA">
          <children xsi:type="notation:DecorationNode" xmi:id="_yx95hFYvEemayrLVVwb3fA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yx95hVYvEemayrLVVwb3fA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_yx95hlYvEemayrLVVwb3fA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yx95h1YvEemayrLVVwb3fA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_yx95iFYvEemayrLVVwb3fA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yx95iVYvEemayrLVVwb3fA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yx95ilYvEemayrLVVwb3fA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yx95gVYvEemayrLVVwb3fA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_yx95glYvEemayrLVVwb3fA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yx95i1YvEemayrLVVwb3fA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yx95g1YvEemayrLVVwb3fA" x="230" y="211" width="101" height="53"/>
        </children>
        <children xmi:id="_2FjxM1YvEemayrLVVwb3fA" type="State" element="_2FjxMFYvEemayrLVVwb3fA">
          <children xsi:type="notation:DecorationNode" xmi:id="_2FjxN1YvEemayrLVVwb3fA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2FjxOFYvEemayrLVVwb3fA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2FjxOVYvEemayrLVVwb3fA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2FtiMFYvEemayrLVVwb3fA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2FtiMVYvEemayrLVVwb3fA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2FtiMlYvEemayrLVVwb3fA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2FtiM1YvEemayrLVVwb3fA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2FjxNFYvEemayrLVVwb3fA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2FjxNVYvEemayrLVVwb3fA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2FtiNFYvEemayrLVVwb3fA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2FjxNlYvEemayrLVVwb3fA" x="231" y="306" width="100" height="55"/>
        </children>
        <children xmi:id="_34ixw1YvEemayrLVVwb3fA" type="State" element="_34ixwFYvEemayrLVVwb3fA">
          <children xsi:type="notation:DecorationNode" xmi:id="_34siwFYvEemayrLVVwb3fA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_34siwVYvEemayrLVVwb3fA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_34siwlYvEemayrLVVwb3fA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_34siw1YvEemayrLVVwb3fA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_34sixFYvEemayrLVVwb3fA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_34sixVYvEemayrLVVwb3fA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_34sixlYvEemayrLVVwb3fA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_34ixxFYvEemayrLVVwb3fA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_34ixxVYvEemayrLVVwb3fA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_34six1YvEemayrLVVwb3fA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_34ixxlYvEemayrLVVwb3fA" x="230" y="401" width="101" height="55"/>
        </children>
        <children xmi:id="_5orSo1YvEemayrLVVwb3fA" type="State" element="_5orSoFYvEemayrLVVwb3fA">
          <children xsi:type="notation:DecorationNode" xmi:id="_5orSp1YvEemayrLVVwb3fA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5orSqFYvEemayrLVVwb3fA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5orSqVYvEemayrLVVwb3fA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5orSqlYvEemayrLVVwb3fA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5orSq1YvEemayrLVVwb3fA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5orSrFYvEemayrLVVwb3fA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5orSrVYvEemayrLVVwb3fA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5orSpFYvEemayrLVVwb3fA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5orSpVYvEemayrLVVwb3fA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5orSrlYvEemayrLVVwb3fA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5orSplYvEemayrLVVwb3fA" x="230" y="496" width="101" height="56"/>
        </children>
        <children xmi:id="_JDvdA1YxEemayrLVVwb3fA" type="State" element="_JDvdAFYxEemayrLVVwb3fA">
          <children xsi:type="notation:DecorationNode" xmi:id="_JDvdB1YxEemayrLVVwb3fA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JDvdCFYxEemayrLVVwb3fA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_JDvdCVYxEemayrLVVwb3fA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JDvdClYxEemayrLVVwb3fA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_JDvdC1YxEemayrLVVwb3fA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JDvdDFYxEemayrLVVwb3fA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JDvdDVYxEemayrLVVwb3fA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JDvdBFYxEemayrLVVwb3fA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_JDvdBVYxEemayrLVVwb3fA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JDvdDlYxEemayrLVVwb3fA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JDvdBlYxEemayrLVVwb3fA" x="440" y="211" width="96" height="48"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt6RNDjpEemSZunftq3MwQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_yt308TjpEemSZunftq3MwQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt64QDjpEemSZunftq3MwQ" x="24" y="8" width="566" height="1020"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_yuA-4DjpEemSZunftq3MwQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_yuA-4jjpEemSZunftq3MwQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yuA-4zjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yuA-5DjpEemSZunftq3MwQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yuBl8DjpEemSZunftq3MwQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yuBl8TjpEemSZunftq3MwQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yuBl8jjpEemSZunftq3MwQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yt2m0TjpEemSZunftq3MwQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_yt2m0jjpEemSZunftq3MwQ"/>
    <edges xmi:id="_yt_wwDjpEemSZunftq3MwQ" type="Transition" element="_yt97kzjpEemSZunftq3MwQ" source="_yt7fUTjpEemSZunftq3MwQ" target="_yt8tcjjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yuAX0DjpEemSZunftq3MwQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yuAX0TjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yuAX0jjpEemSZunftq3MwQ" x="-4" y="-45"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yt_wwTjpEemSZunftq3MwQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yt_wwzjpEemSZunftq3MwQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yt_wwjjpEemSZunftq3MwQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zm-EUFYuEemayrLVVwb3fA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eqvgADj4Eem7yN3X15gGQw" id="(0.49019607843137253,0.01818181818181818)"/>
    </edges>
    <edges xmi:id="_cM1scDjzEem7yN3X15gGQw" type="Transition" element="_cMxbADjzEem7yN3X15gGQw" source="_yt8tcjjpEemSZunftq3MwQ" target="_bgEtEDjzEem7yN3X15gGQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_cM4vwTjzEem7yN3X15gGQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cM4vwjjzEem7yN3X15gGQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cM4vwzjzEem7yN3X15gGQw" x="51" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cM1scTjzEem7yN3X15gGQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cM4vwDjzEem7yN3X15gGQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cM1scjjzEem7yN3X15gGQw" points="[8, -3, -117, 58]$[63, -3, -62, 58]$[63, -60, -62, 1]$[119, -60, -6, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cM7zEDjzEem7yN3X15gGQw" id="(0.9215686274509803,0.45454545454545453)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aK_pIDj2Eem7yN3X15gGQw" id="(0.06862745098039216,0.34545454545454546)"/>
    </edges>
    <edges xmi:id="_Pe2xMVYvEemayrLVVwb3fA" type="Transition" element="_Pe2xMFYvEemayrLVVwb3fA" source="_bgEtEDjzEem7yN3X15gGQw" target="_J3ankVYvEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Pe2xNVYvEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Pe2xNlYvEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Pe2xN1YvEemayrLVVwb3fA" x="-1" y="-110"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Pe2xMlYvEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Pe2xNFYvEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Pe2xM1YvEemayrLVVwb3fA" points="[3, 11, 3, 11]$[3, 11, 3, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PfAiMFYvEemayrLVVwb3fA" id="(0.43137254901960786,0.7818181818181819)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Wrru0FYwEemayrLVVwb3fA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_i6BT8FYwEemayrLVVwb3fA" type="Transition" element="_i54KAFYwEemayrLVVwb3fA" source="_J3ankVYvEemayrLVVwb3fA" target="_yx95gFYvEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_i6BT9FYwEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_i6BT9VYwEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_i6BT9lYwEemayrLVVwb3fA" x="-8" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_i6BT8VYwEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_i6BT81YwEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_i6BT8lYwEemayrLVVwb3fA" points="[4, 14, 4, 14]$[4, 14, 4, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_i6BT91YwEemayrLVVwb3fA" id="(0.47058823529411764,0.7818181818181819)"/>
    </edges>
    <edges xmi:id="_kYjHcVYwEemayrLVVwb3fA" type="Transition" element="_kYjHcFYwEemayrLVVwb3fA" source="_2FjxM1YvEemayrLVVwb3fA" target="_34ixw1YvEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_kYjHdVYwEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kYjHdlYwEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kYjHd1YwEemayrLVVwb3fA" x="-8" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kYjHclYwEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kYjHdFYwEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kYjHc1YwEemayrLVVwb3fA" points="[2, 12, -8, -47]$[2, 57, -8, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kYjHeFYwEemayrLVVwb3fA" id="(0.48,0.7636363636363637)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kYjHeVYwEemayrLVVwb3fA" id="(0.5841584158415841,0.05454545454545454)"/>
    </edges>
    <edges xmi:id="_kzkPgVYwEemayrLVVwb3fA" type="Transition" element="_kzkPgFYwEemayrLVVwb3fA" source="_yx95gFYvEemayrLVVwb3fA" target="_2FjxM1YvEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_kzkPhVYwEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kzkPhlYwEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kzkPh1YwEemayrLVVwb3fA" x="-6" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kzkPglYwEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kzkPhFYwEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kzkPg1YwEemayrLVVwb3fA" points="[0, 8, 5, -55]$[0, 55, 5, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kzkPiFYwEemayrLVVwb3fA" id="(0.504950495049505,0.8490566037735849)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kzkPiVYwEemayrLVVwb3fA" id="(0.45,0.16363636363636364)"/>
    </edges>
    <edges xmi:id="_rE2AUVYwEemayrLVVwb3fA" type="Transition" element="_rE2AUFYwEemayrLVVwb3fA" source="_34ixw1YvEemayrLVVwb3fA" target="_5orSo1YvEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_rE2AVVYwEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rE2AVlYwEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rE2AV1YwEemayrLVVwb3fA" x="-8" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rE2AUlYwEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rE2AVFYwEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rE2AU1YwEemayrLVVwb3fA" points="[0, 25, -8, -51]$[0, 70, -8, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rzvtsFYwEemayrLVVwb3fA" id="(0.5841584158415841,0.125)"/>
    </edges>
    <edges xmi:id="_sldegVYwEemayrLVVwb3fA" type="Transition" element="_sldegFYwEemayrLVVwb3fA" source="_5orSo1YvEemayrLVVwb3fA" target="_yt8tcjjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_sldehVYwEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sldehlYwEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sldeh1YwEemayrLVVwb3fA" x="-105" y="102"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sldeglYwEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sldehFYwEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sldeg1YwEemayrLVVwb3fA" points="[1, -21, 1, -21]$[1, -21, 1, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sldeiFYwEemayrLVVwb3fA" id="(0.0,0.3392857142857143)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sldeiVYwEemayrLVVwb3fA" id="(0.49019607843137253,0.8727272727272727)"/>
    </edges>
    <edges xmi:id="_vPwhkVYwEemayrLVVwb3fA" type="Transition" element="_vPwhkFYwEemayrLVVwb3fA" source="_yt8tcjjpEemSZunftq3MwQ" target="_yx95gFYvEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_vPwhlVYwEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vPwhllYwEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vPwhl1YwEemayrLVVwb3fA" x="74"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vPwhklYwEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vPwhlFYwEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vPwhk1YwEemayrLVVwb3fA" points="[6, 18, 6, 18]$[6, 18, 6, 18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vPwhmFYwEemayrLVVwb3fA" id="(0.9411764705882353,0.6363636363636364)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vPwhmVYwEemayrLVVwb3fA" id="(0.1485148514851485,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_KmJq8VYxEemayrLVVwb3fA" type="Transition" element="_KmJq8FYxEemayrLVVwb3fA" source="_bgEtEDjzEem7yN3X15gGQw" target="_JDvdA1YxEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_KmJq9VYxEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KmJq9lYxEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KmJq91YxEemayrLVVwb3fA" x="-24" y="88"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KmJq8lYxEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KmJq9FYxEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KmJq81YxEemayrLVVwb3fA" points="[5, -18, 5, -18]$[5, -18, 5, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KmJq-FYxEemayrLVVwb3fA" id="(0.9019607843137255,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bVxp8FYxEemayrLVVwb3fA" id="(0.6354166666666666,0.09433962264150945)"/>
    </edges>
    <edges xmi:id="_M_WW8VYxEemayrLVVwb3fA" type="Transition" element="_M_WW8FYxEemayrLVVwb3fA" source="_J3ankVYvEemayrLVVwb3fA" target="_JDvdA1YxEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_M_WW9VYxEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M_WW9lYxEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M_WW91YxEemayrLVVwb3fA" x="-36" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M_WW8lYxEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M_WW9FYxEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M_WW81YxEemayrLVVwb3fA" points="[5, 21, 5, 21]$[5, 21, 5, 21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M_WW-FYxEemayrLVVwb3fA" id="(0.8823529411764706,0.5818181818181818)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M_WW-VYxEemayrLVVwb3fA" id="(0.8645833333333335,0.4150943396226416)"/>
    </edges>
    <edges xmi:id="_NUaA8VYxEemayrLVVwb3fA" type="Transition" element="_NUaA8FYxEemayrLVVwb3fA" source="_yx95gFYvEemayrLVVwb3fA" target="_JDvdA1YxEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_NUaA9VYxEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NUaA9lYxEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NUaA91YxEemayrLVVwb3fA" x="7" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NUaA8lYxEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NUaA9FYxEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NUaA81YxEemayrLVVwb3fA" points="[5, 8, 5, 8]$[5, 8, 5, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NUaA-FYxEemayrLVVwb3fA" id="(0.8712871287128713,0.33962264150943394)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NUaA-VYxEemayrLVVwb3fA" id="(0.13541666666666666,0.3962264150943396)"/>
    </edges>
    <edges xmi:id="_NqWbwVYxEemayrLVVwb3fA" type="Transition" element="_NqWbwFYxEemayrLVVwb3fA" source="_2FjxM1YvEemayrLVVwb3fA" target="_JDvdA1YxEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_NqWbxVYxEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NqWbxlYxEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NqWbx1YxEemayrLVVwb3fA" x="-40" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NqWbwlYxEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NqWbxFYxEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NqWbw1YxEemayrLVVwb3fA" points="[7, -1, -159, 90]$[140, -1, -26, 90]$[140, -67, -26, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NqgMwFYxEemayrLVVwb3fA" id="(0.93,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NouOoFYyEemayrLVVwb3fA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_N964AFYxEemayrLVVwb3fA" type="Transition" element="_N9xHAFYxEemayrLVVwb3fA" source="_34ixw1YvEemayrLVVwb3fA" target="_JDvdA1YxEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_N964BFYxEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_N964BVYxEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_N964BlYxEemayrLVVwb3fA" x="4" y="-84"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_N964AVYxEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_N964A1YxEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_N964AlYxEemayrLVVwb3fA" points="[5, 10, 5, 10]$[5, 10, 5, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_N964B1YxEemayrLVVwb3fA" id="(0.8514851485148515,0.8)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NouOoVYyEemayrLVVwb3fA" id="(0.4166666666666667,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_ORy2QVYxEemayrLVVwb3fA" type="Transition" element="_ORy2QFYxEemayrLVVwb3fA" source="_5orSo1YvEemayrLVVwb3fA" target="_JDvdA1YxEemayrLVVwb3fA">
      <children xsi:type="notation:DecorationNode" xmi:id="_OR8nQVYxEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OR8nQlYxEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OR8nQ1YxEemayrLVVwb3fA" x="-40" y="-96"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ORy2QlYxEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_OR8nQFYxEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ORy2Q1YxEemayrLVVwb3fA" points="[6, 11, 5, 11]$[6, 11, 5, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OR8nRFYxEemayrLVVwb3fA" id="(0.9801980198019802,0.4107142857142857)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OR8nRVYxEemayrLVVwb3fA" id="(0.5208333333333334,0.8301886792452832)"/>
    </edges>
    <edges xmi:id="_Vxm2wVYxEemayrLVVwb3fA" type="Transition" element="_Vxm2wFYxEemayrLVVwb3fA" source="_JDvdA1YxEemayrLVVwb3fA" target="_yt8tcjjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Vxm2xVYxEemayrLVVwb3fA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Vxm2xlYxEemayrLVVwb3fA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Vxm2x1YxEemayrLVVwb3fA" x="-257" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Vxm2wlYxEemayrLVVwb3fA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Vxm2xFYxEemayrLVVwb3fA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Vxm2w1YxEemayrLVVwb3fA" points="[3, 24, 435, 138]$[3, 337, 435, 451]$[-444, 337, -12, 451]$[-444, -107, -12, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_X3KOAFYxEemayrLVVwb3fA" id="(0.65625,0.8113207547169812)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Wj7EgFYxEemayrLVVwb3fA" id="(0.35294117647058826,0.8545454545454545)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
