<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_yt0KkDjpEemSZunftq3MwQ" specification="interface:&#xA;var lastDigIn: integer&#xA;var region: integer&#xA;var evt: integer&#xA;&#xA;in event evSync&#xA;in event evEnable&#xA;in event evDisable&#xA;in event evIn1&#xA;&#xA;operation DigIn_get(): integer" name="SignalMonitor1" documentation="- This model follows the logic states of both CLOCK_1S and CLOCK_3S digital signals.&#xD;&#xA;- While the relay validator works, the expected sequence of logic states is as follows: &quot;1,0,2,0,0,0&quot;. Each number is formed by CLOCK_1S | (CLOCK_3S &lt;&lt; 1)&#xD;&#xA;- The inputs of this model is provided by ClockSignal state machine on the falling edge of it.&#xD;&#xA;- The A/D converter is supposed to be in continuos mode.">
    <regions xmi:id="_yt2m0zjpEemSZunftq3MwQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_yt7fUDjpEemSZunftq3MwQ">
        <outgoingTransitions xmi:id="_yt97kzjpEemSZunftq3MwQ" specification="" target="_yt8GZzjpEemSZunftq3MwQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_yt8GZzjpEemSZunftq3MwQ" specification="" name="Inactive" incomingTransitions="_yt97kzjpEemSZunftq3MwQ _NiuI2WtxEemQYMPp2sufPA">
        <outgoingTransitions xmi:id="_NbNyoGtxEemQYMPp2sufPA" specification="evEnable" target="_JrmGQGtxEemQYMPp2sufPA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_JrmGQGtxEemQYMPp2sufPA" name="Active" incomingTransitions="_NbNyoGtxEemQYMPp2sufPA" documentation="rkh_pubsub_publish(rui8_t channel, RKH_EVT_T *event,&#xD;&#xA;                          const void *const sender);">
        <outgoingTransitions xmi:id="_NiuI2WtxEemQYMPp2sufPA" specification="evDisable" target="_yt8GZzjpEemSZunftq3MwQ"/>
        <regions xmi:id="_JrmGQ2txEemQYMPp2sufPA" name="region1">
          <vertices xsi:type="sgraph:Entry" xmi:id="_O79UAGtuEemQYMPp2sufPA">
            <outgoingTransitions xmi:id="_PasecGtuEemQYMPp2sufPA" specification="" target="_M80GwGtuEemQYMPp2sufPA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_M80GwGtuEemQYMPp2sufPA" specification="evSync / lastDigIn = DigIn_get();&#xD;&#xA;              evt = makeEvt(lastDigIn);&#xD;&#xA;              rkh_pubsub_publish(X, evt, me)" name="Sampler" incomingTransitions="_PasecGtuEemQYMPp2sufPA"/>
        </regions>
        <regions xmi:id="_6kHe6GtyEemQYMPp2sufPA" name="region2">
          <vertices xsi:type="sgraph:Entry" xmi:id="_6kHfImtyEemQYMPp2sufPA">
            <outgoingTransitions xmi:id="_6kHfLGtyEemQYMPp2sufPA" specification="" target="_6kHe9WtyEemQYMPp2sufPA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_6kHfFGtyEemQYMPp2sufPA" name="Seq0" incomingTransitions="_6kHe-WtyEemQYMPp2sufPA"/>
          <vertices xsi:type="sgraph:State" xmi:id="_6kHe9WtyEemQYMPp2sufPA" specification="" name="Idle" incomingTransitions="_6kHfLGtyEemQYMPp2sufPA">
            <outgoingTransitions xmi:id="_6kHe-WtyEemQYMPp2sufPA" specification="evIn1" target="_6kHfFGtyEemQYMPp2sufPA"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_yt2m0DjpEemSZunftq3MwQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_yt0KkDjpEemSZunftq3MwQ" measurementUnit="Pixel">
    <children xmi:id="_yt308DjpEemSZunftq3MwQ" type="Region" element="_yt2m0zjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yt6RMDjpEemSZunftq3MwQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yt6RMTjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yt6RMjjpEemSZunftq3MwQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yt6RMzjpEemSZunftq3MwQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_yt7fUTjpEemSZunftq3MwQ" type="Entry" element="_yt7fUDjpEemSZunftq3MwQ">
          <children xmi:id="_yt8GYDjpEemSZunftq3MwQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_yt8GYzjpEemSZunftq3MwQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8GZDjpEemSZunftq3MwQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_yt8GZTjpEemSZunftq3MwQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8GYTjpEemSZunftq3MwQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt8GYjjpEemSZunftq3MwQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yt7fUjjpEemSZunftq3MwQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_yt7fUzjpEemSZunftq3MwQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt8GZjjpEemSZunftq3MwQ" x="60" y="39" width="15" height="15"/>
        </children>
        <children xmi:id="_yt8tcjjpEemSZunftq3MwQ" type="State" element="_yt8GZzjpEemSZunftq3MwQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_yt8tdjjpEemSZunftq3MwQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8tdzjpEemSZunftq3MwQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_yt9UgDjpEemSZunftq3MwQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yt9UgTjpEemSZunftq3MwQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_yt9UgjjpEemSZunftq3MwQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt9UgzjpEemSZunftq3MwQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yt97kDjpEemSZunftq3MwQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8tczjpEemSZunftq3MwQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_yt8tdDjpEemSZunftq3MwQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yt97kTjpEemSZunftq3MwQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt97kjjpEemSZunftq3MwQ" x="22" y="78" width="102" height="55"/>
        </children>
        <children xmi:id="_JrmGRWtxEemQYMPp2sufPA" type="State" element="_JrmGQGtxEemQYMPp2sufPA">
          <children xsi:type="notation:DecorationNode" xmi:id="_JrmGSWtxEemQYMPp2sufPA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JrmGSmtxEemQYMPp2sufPA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_JrmGS2txEemQYMPp2sufPA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JrmGTGtxEemQYMPp2sufPA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_JrmGTWtxEemQYMPp2sufPA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JrmGTmtxEemQYMPp2sufPA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JrmGT2txEemQYMPp2sufPA" type="StateFigureCompartment">
            <children xmi:id="_JrmGUWtxEemQYMPp2sufPA" type="Region" element="_JrmGQ2txEemQYMPp2sufPA">
              <children xsi:type="notation:DecorationNode" xmi:id="_JrmGVGtxEemQYMPp2sufPA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_JrmGVWtxEemQYMPp2sufPA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_JrmGVmtxEemQYMPp2sufPA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_JrmGV2txEemQYMPp2sufPA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_LtnBYWtxEemQYMPp2sufPA" type="Entry" element="_O79UAGtuEemQYMPp2sufPA">
                  <children xmi:id="_LtnBYmtxEemQYMPp2sufPA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_LtnBY2txEemQYMPp2sufPA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_LtnBZGtxEemQYMPp2sufPA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_LtnBZWtxEemQYMPp2sufPA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_LtnBZmtxEemQYMPp2sufPA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LtnBZ2txEemQYMPp2sufPA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_LtnBaGtxEemQYMPp2sufPA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_LtnBaWtxEemQYMPp2sufPA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LtnBamtxEemQYMPp2sufPA" x="-127" y="-37"/>
                </children>
                <children xmi:id="_LtnBVWtxEemQYMPp2sufPA" type="State" element="_M80GwGtuEemQYMPp2sufPA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_LtnBVmtxEemQYMPp2sufPA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_LtnBV2txEemQYMPp2sufPA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_LtnBWGtxEemQYMPp2sufPA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_LtnBWWtxEemQYMPp2sufPA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_LtnBWmtxEemQYMPp2sufPA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LtnBW2txEemQYMPp2sufPA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_LtnBXGtxEemQYMPp2sufPA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_LtnBXWtxEemQYMPp2sufPA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_LtnBXmtxEemQYMPp2sufPA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LtnBX2txEemQYMPp2sufPA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LtnBYGtxEemQYMPp2sufPA" x="-127" y="-7" width="322" height="93"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JrmGWGtxEemQYMPp2sufPA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_JrmGUmtxEemQYMPp2sufPA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JrmGU2txEemQYMPp2sufPA"/>
            </children>
            <children xmi:id="_BC-YsGtzEemQYMPp2sufPA" type="Region" element="_6kHe6GtyEemQYMPp2sufPA">
              <children xsi:type="notation:DecorationNode" xmi:id="_BC-YsWtzEemQYMPp2sufPA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_BC-YsmtzEemQYMPp2sufPA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_BC-Ys2tzEemQYMPp2sufPA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_BC-YtGtzEemQYMPp2sufPA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_BC-YtWtzEemQYMPp2sufPA" type="Entry" element="_6kHfImtyEemQYMPp2sufPA">
                  <children xmi:id="_BC-YtmtzEemQYMPp2sufPA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_BC-Yt2tzEemQYMPp2sufPA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_BC-YuGtzEemQYMPp2sufPA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_BC-YuWtzEemQYMPp2sufPA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BC-YumtzEemQYMPp2sufPA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BC-Yu2tzEemQYMPp2sufPA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BC-YvGtzEemQYMPp2sufPA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_BC-YvWtzEemQYMPp2sufPA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BC-YvmtzEemQYMPp2sufPA" x="-1" y="3"/>
                </children>
                <children xmi:id="_BC-Yv2tzEemQYMPp2sufPA" type="State" element="_6kHfFGtyEemQYMPp2sufPA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BC-YwGtzEemQYMPp2sufPA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BC-YwWtzEemQYMPp2sufPA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BC-YwmtzEemQYMPp2sufPA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BC-Yw2tzEemQYMPp2sufPA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BC-YxGtzEemQYMPp2sufPA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BC-YxWtzEemQYMPp2sufPA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BC-YxmtzEemQYMPp2sufPA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BC-Yx2tzEemQYMPp2sufPA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BC-YyGtzEemQYMPp2sufPA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BC-YyWtzEemQYMPp2sufPA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BC-YymtzEemQYMPp2sufPA" x="153" y="32" width="94" height="55"/>
                </children>
                <children xmi:id="_BC-Yy2tzEemQYMPp2sufPA" type="State" element="_6kHe9WtyEemQYMPp2sufPA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BC-YzGtzEemQYMPp2sufPA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BC-YzWtzEemQYMPp2sufPA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BC-YzmtzEemQYMPp2sufPA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BC-Yz2tzEemQYMPp2sufPA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BC-Y0GtzEemQYMPp2sufPA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BC-Y0WtzEemQYMPp2sufPA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BC-Y0mtzEemQYMPp2sufPA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BC-Y02tzEemQYMPp2sufPA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BC-Y1GtzEemQYMPp2sufPA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BC-Y1WtzEemQYMPp2sufPA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BC-Y1mtzEemQYMPp2sufPA" x="-1" y="32" width="89" height="55"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BC-Y12tzEemQYMPp2sufPA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_BC-Y2GtzEemQYMPp2sufPA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BC-Y2WtzEemQYMPp2sufPA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JrmGRmtxEemQYMPp2sufPA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_JrmGR2txEemQYMPp2sufPA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JrmGUGtxEemQYMPp2sufPA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JrmGSGtxEemQYMPp2sufPA" x="22" y="174" width="649" height="226"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt6RNDjpEemSZunftq3MwQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_yt308TjpEemSZunftq3MwQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt64QDjpEemSZunftq3MwQ" x="24" y="8" width="729" height="468"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_yuA-4DjpEemSZunftq3MwQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_yuA-4jjpEemSZunftq3MwQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yuA-4zjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yuA-5DjpEemSZunftq3MwQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yuBl8DjpEemSZunftq3MwQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yuBl8TjpEemSZunftq3MwQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yuBl8jjpEemSZunftq3MwQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yt2m0TjpEemSZunftq3MwQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_yt2m0jjpEemSZunftq3MwQ"/>
    <edges xmi:id="_yt_wwDjpEemSZunftq3MwQ" type="Transition" element="_yt97kzjpEemSZunftq3MwQ" source="_yt7fUTjpEemSZunftq3MwQ" target="_yt8tcjjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yuAX0DjpEemSZunftq3MwQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yuAX0TjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yuAX0jjpEemSZunftq3MwQ" x="-5" y="-28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yt_wwTjpEemSZunftq3MwQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yt_wwzjpEemSZunftq3MwQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yt_wwjjpEemSZunftq3MwQ" points="[0, 7, -2, -25]$[0, 32, -2, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zm-EUFYuEemayrLVVwb3fA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eqvgADj4Eem7yN3X15gGQw" id="(0.49019607843137253,0.01818181818181818)"/>
    </edges>
    <edges xmi:id="_NbNys2txEemQYMPp2sufPA" type="Transition" element="_NbNyoGtxEemQYMPp2sufPA" source="_yt8tcjjpEemSZunftq3MwQ" target="_JrmGRWtxEemQYMPp2sufPA">
      <children xsi:type="notation:DecorationNode" xmi:id="_NbNytGtxEemQYMPp2sufPA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NbNytWtxEemQYMPp2sufPA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NbNytmtxEemQYMPp2sufPA" x="1" y="38"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NbNyt2txEemQYMPp2sufPA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NbNyuGtxEemQYMPp2sufPA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NbNyuWtxEemQYMPp2sufPA" points="[-20, 25, -22, -62]$[-20, 71, -22, -16]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NbNyumtxEemQYMPp2sufPA" id="(0.07912977925065447,0.0)"/>
    </edges>
    <edges xmi:id="_NiuI0GtxEemQYMPp2sufPA" type="Transition" element="_NiuI2WtxEemQYMPp2sufPA" source="_JrmGRWtxEemQYMPp2sufPA" target="_yt8tcjjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NiuI1mtxEemQYMPp2sufPA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NiuI2GtxEemQYMPp2sufPA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NiuI12txEemQYMPp2sufPA" x="-1" y="38"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NiuI1WtxEemQYMPp2sufPA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NiuI1GtxEemQYMPp2sufPA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NiuI02txEemQYMPp2sufPA" points="[0, 0, -26, 63]$[30, -46, 4, 17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NiuI0mtxEemQYMPp2sufPA" id="(0.13128349739313128,0.07256087596012419)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NiuI0WtxEemQYMPp2sufPA" id="(0.7549019607843137,0.6727272727272727)"/>
    </edges>
    <edges xmi:id="_PasecWtuEemQYMPp2sufPA" type="Transition" element="_PasecGtuEemQYMPp2sufPA" source="_LtnBYWtxEemQYMPp2sufPA" target="_LtnBVWtxEemQYMPp2sufPA">
      <children xsi:type="notation:DecorationNode" xmi:id="_PasedWtuEemQYMPp2sufPA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PasedmtuEemQYMPp2sufPA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Pased2tuEemQYMPp2sufPA" x="-13" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PasecmtuEemQYMPp2sufPA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PasedGtuEemQYMPp2sufPA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Pasec2tuEemQYMPp2sufPA" points="[14, 0, -90, -49]$[48, 0, -56, -49]$[48, 23, -56, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PaseeGtuEemQYMPp2sufPA" id="(0.0,0.4666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PaseeWtuEemQYMPp2sufPA" id="(0.3286126585676891,0.3025335320417288)"/>
    </edges>
    <edges xmi:id="_6kHfI2tyEemQYMPp2sufPA" type="Transition" element="_6kHfLGtyEemQYMPp2sufPA" source="_BC-YtWtzEemQYMPp2sufPA" target="_BC-Yy2tzEemQYMPp2sufPA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6kHfKWtyEemQYMPp2sufPA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6kHfK2tyEemQYMPp2sufPA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6kHfKmtyEemQYMPp2sufPA" x="-13" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6kHfKGtyEemQYMPp2sufPA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6kHfJ2tyEemQYMPp2sufPA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6kHfJmtyEemQYMPp2sufPA" points="[14, 0, -38, -29]$[39, 0, -13, -29]$[39, 22, -13, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6kHfJWtyEemQYMPp2sufPA" id="(0.0,0.4666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6kHfJGtyEemQYMPp2sufPA" id="(0.6226657329598507,0.14545454545454545)"/>
    </edges>
    <edges xmi:id="_6kHfDGtyEemQYMPp2sufPA" type="Transition" element="_6kHe-WtyEemQYMPp2sufPA" source="_BC-Yy2tzEemQYMPp2sufPA" target="_BC-Yv2tzEemQYMPp2sufPA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6kHfDWtyEemQYMPp2sufPA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6kHfDmtyEemQYMPp2sufPA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6kHfD2tyEemQYMPp2sufPA" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6kHfEGtyEemQYMPp2sufPA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6kHfEWtyEemQYMPp2sufPA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6kHfEmtyEemQYMPp2sufPA" points="[41, 24, -114, -1]$[111, 24, -44, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6kHfE2tyEemQYMPp2sufPA" id="(0.5168539325842697,0.0)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
